In [1]:
from docxtpl import * 
from typing import Dict


from models.econometrics import Cost, Currency

import math
from typing import Callable
from models.components import Component
from models.econometrics import Cost
from models.geometry import Orientation
from models.photovoltaic import Photovoltaic

# Site references

In [2]:
#currency values


#reference 1 is USD
Cost.set_exchange(Currency.CLP,908.72)
Cost.set_exchange(Currency.EUR,0.92)

cost_inverter = Cost(1000,Currency.EUR)
cost_inverter.cost_after_tax(Currency.CLP)

# exchange rates https://app.freecurrencyapi.com/dashboard

(987929.1, <Currency.CLP: 'peso chileno'>)

In [3]:
#cspell:disable


#init proyect
from models.components import Tech
from models.geometry import GeoPosition
from models.inventory import Building, Project

psr_bucalemu:Project = Project(
    title='Sistema Fotovoltaico OnGrid-Mixto PSR Bucalemu,\nSanto Domingo',
    building = Building(
        geolocation=GeoPosition(latitude=-33.861702,longitude=-71.657839),
        name='Posta de Salud Rural Bucalemu',
        address='Ruta G-80-I km 30 sn, Localidad Bucalemu,\nSanto Domingo',
        city='Santo Domingo'),
    technology= [Tech.PHOTOVOLTAIC]
    )


# psr_sanenrique:Project = Project(
#     title='Sistema Fotovoltaico OnGrid-Mixto PSR San Enrique, Santo Domingo',
#     building = Building(
#         geolocation=GeoPosition(latitude=-33.9081421,longitude=-71.7159192),
#         name='Posta de Salud Rural de San Enrique',
#         address='Ruta G-866 km 0 sn, Localidad San Enrique, Santo Domingo',
#         city='Santo Domingo'),
#     technology= [Tech.PHOTOVOLTAIC]
#     )

api request URL https://power.larc.nasa.gov/api/temporal/hourly/point?Time=LST&parameters=T2M,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,ALLSKY_SRF_ALB,SZA,WS10M&community=RE&latitude=-33.861702&longitude=-71.657839&start=20230101&end=20230102&format=JSON

In [4]:
psr_bucalemu.weather.get_data().head(24)

,date,T2M,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,ALLSKY_SRF_ALB,SZA,WS10M,year,month,day,hour
0,2022-12-31 19:00:00,15.99,0.00,0.00,None,None,1.61,2022,12,31,19
1,2022-12-31 20:00:00,15.62,0.00,0.00,None,None,1.69,2022,12,31,20
2,2022-12-31 21:00:00,15.29,0.00,0.00,None,None,1.91,2022,12,31,21
3,2022-12-31 22:00:00,14.89,0.00,0.00,None,None,2.08,2022,12,31,22
4,2022-12-31 23:00:00,14.46,0.00,0.00,None,None,2.37,2022,12,31,23
5,2023-01-01 00:00:00,14.20,0.00,0.00,None,None,2.73,2023,01,01,00
6,2023-01-01 01:00:00,13.96,0.00,0.00,None,None,2.96,2023,01,01,01
7,2023-01-01 02:00:00,13.66,0.00,0.00,None,None,2.99,2023,01,01,02
8,2023-01-01 03:00:00,13.34,0.00,0.00,None,None,3.09,2023,01,01,03
9,2023-01-01 04:00:00,13.16,0.00,0.00,None,None,3.15,2023,01,01,04
10,2023-01-01 05:00:00,14.49,400.55,52.57,0.14,80.92,3.43,2023,01,01,05
11,2023-01-01 06:00:00,16.17,778.00,65.88,0.13,69.48,3.73,2023,01,01,06
12,2023-01-01 07:00:00,17.92,913.46,72.15,0.09,57.27,3.42,2023,01,01,07
13,2023-01-01 08:00:00,19.37,961.80,81.88,0.09,44.85,3.62,2023,01,01,08
14,2023-01-01 09:00:00,20.67,1021.87,71.28,0.12,32.48,4.18,2023,01,01,09
15,2023-01-01 10:00:00,21.73,1004.83,89.65,0.1,20.71,4.78,2023,01,01,10
16,2023-01-01 11:00:00,22.16,974.21,106.16,0.12,11.98,5.62,2023,01,01,11
17,2023-01-01 12:00:00,22.22,996.59,95.59,0.1,14.28,6.33,2023,01,01,12
18,2023-01-01 13:00:00,22.16,950.38,101.99,0.12,24.68,6.48,2023,01,01,13
19,2023-01-01 14:00:00,22.09,997.76,81.21,0.1,36.77,6.53,2023,01,01,14
20,2023-01-01 15:00:00,21.77,950.80,80.91,0.11,49.2,6.77,2023,01,01,15
21,2023-01-01 16:00:00,21.14,876.07,73.12,0.12,61.57,7.31,2023,01,01,16
22,2023-01-01 17:00:00,19.99,723.91,56.34,0.12,73.69,7.93,2023,01,01,17
23,2023-01-01 18:00:00,18.20,373.73,26.00,0.13,85.3,8.01,2023,01,01,18

# Integration

## Project components

In [5]:
#cspell: disable

#PV COST MODEL, inscludes price clp per watt, including cost of planel, inverter, instalation and infraestructure.
pv_log_model_on_grid:Callable[[float],float] = lambda size_w: math.floor(-152.6*math.log(size_w)+2605.9) # clp/w
pv_log_model_off_grid:Callable[[float],float] = lambda size_w: math.floor(-414.7*math.log(size_w)+6143.9) # clp/w
#PV linear COST MODEL, inscludes price clp per watt,just panel.
pv_linear:Callable[[float],float] = lambda size_w: 245990/655

#clean previous load
psr_bucalemu.components = {}
from IPython.display import clear_output
clear_output(wait=True)

# assembly projects components
psr_bucalemu.add_component(
    'generación',
    Photovoltaic(psr_bucalemu.weather,'Módulo Primario A',
                reference='https://www.tiendatecnored.cl/modulo-fotovoltaico-650w-canadian-solar.html',
                power=655,
                quantity=5,
                cost=None,
                cost_model=pv_linear,
                orientation=Orientation(15,270-16.46)),
    Photovoltaic(psr_bucalemu.weather,'Módulo Secundario B',
                 reference='https://www.tiendatecnored.cl/modulo-fotovoltaico-650w-canadian-solar.html',
                power=655,
                quantity=5,
                cost=None,
                cost_model=pv_linear,
                orientation=Orientation(15,16.46))
    )
psr_bucalemu.add_component(
    'auxiliar',
    Component('inversor de 7kW',
                model='Voltronic 7kW 48V',
                reference='https://solarbex.com/comprar/inversor-hibrido-7kw-48v-voltronic/',
                specification='Híbrido 7kW Monofásico',
                cost_per_unit=Cost(1255,Currency.EUR)),
    Component('Controlador de Carga',
                model='Enertik 80A 12/24V',
                specification='1000W to 2000 24V output',
                cost_per_unit=Cost(101600,Currency.CLP)),
    Component('medidor bidireccional',
                model='Elster AS1440',
                specification='Trifasico',
                cost_per_unit=Cost(306990,Currency.CLP)),
    Component('almacenamiento',
                model='MP NP12-200',
                specification='Betería 12V 200Ah',
                reference='https://www.tiendatecnored.cl/bateria-gel-ciclo-profundo-12v-200ah.html',
                cost_per_unit=Cost(204889,Currency.CLP),
                quantity=10,
                )
    )
psr_bucalemu.add_component(
    'obras',
    Component(description='instalación eléctrica',
            specification='H/P eléctrico',
            cost_per_unit=Cost(1,currency=Currency.UF),
            quantity=100,
              ),
    Component(description='estructura de soporte',
            specification='elementos fijación',
            cost_per_unit=Cost((4*800+11400/4+4*700+4000+500)),
            quantity=24
            )
)

inside cost pv :  245990.0 Currency.CLP
inside cost pv :  245990.0 Currency.CLP

In [6]:
# psr_bucalemu.components['generación'][1].nominal_power()
#pv_log_model(1500) #clp/w

bucket_list = psr_bucalemu.bucket_list(Currency.CLP)
cost = 0
for item in bucket_list:
    cost += item['amount']
    
#unitary price comparison
print(
    'estimado',cost,
    'on grid',pv_log_model_on_grid(655*10)*655*10,
    'off grid',pv_log_model_off_grid(655*10)*655*10,
    'linear',pv_linear(655*10)*655*10)
bucket_list

estimado 10967899.149999999 on grid 8279200 off grid 16368450 linear 2459900.0

[{'gloss': 'generación',
  'description': 'Módulo Primario A',
  'quantity': 5,
  'amount': 1463640.5,
  'currency': 'peso chileno'},
 {'gloss': 'generación',
  'description': 'Módulo Secundario B',
  'quantity': 5,
  'amount': 1463640.5,
  'currency': 'peso chileno'},
 {'gloss': 'auxiliar',
  'description': 'inversor de 7kW',
  'quantity': 1,
  'amount': 1239851.05,
  'currency': 'peso chileno'},
 {'gloss': 'auxiliar',
  'description': 'Controlador de Carga',
  'quantity': 1,
  'amount': 120904.0,
  'currency': 'peso chileno'},
 {'gloss': 'auxiliar',
  'description': 'medidor bidireccional',
  'quantity': 1,
  'amount': 365318.1,
  'currency': 'peso chileno'},
 {'gloss': 'auxiliar',
  'description': 'almacenamiento',
  'quantity': 10,
  'amount': 2438179.0,
  'currency': 'peso chileno'},
 {'gloss': 'obras',
  'description': 'instalación eléctrica',
  'quantity': 100,
  'amount': 3495090.0,
  'currency': 'peso chileno'},
 {'gloss': 'obras',
  'description': 'estructura de soporte',
  'quantity': 24,
  'amount': 381276.0,
  'currency': 'peso chileno'}]

In [7]:
# psr_bucalemu.get_energy_generation('generación')
psr_bucalemu.components['generación'][0].get_energy()
psr_bucalemu.get_energy('generación')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cos_phi              48 non-null     float64
 1   IRR_direct_surface   48 non-null     float64
 2   IRR_diffuse_surface  48 non-null     float64
 3   IRR_ground           48 non-null     float64
 4   IRR_incident         48 non-null     float64
dtypes: float64(5)
memory usage: 2.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Temperature_cell  48 non-null     float64
 1   IRR_incident      48 non-null     float64
dtypes: float64(2)
memory usage: 900.0 bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Temperature_cell    48 non-null     float64
 1   IRR_incident        48 non-null     float64
 2   System_capacity_KW  48 non-null     float64
 3   date UTC            48 non-null     datetime64[ns]
 4   month               48 non-null     object
 5   day                 48 non-null     object
 6   hour                48 non-null     object
 7   date LOCALE         48 non-null     datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(3), object(3)
memory usage: 3.1+ KB
None

,Temperature_cell,IRR_incident,System_capacity_KW,date UTC,month,day,hour,date LOCALE
0,0.000000,0.000000,0.000000,2022-12-31 19:00:00,12,31,19,2022-12-31 22:00:00+00:00
1,0.000000,0.000000,0.000000,2022-12-31 20:00:00,12,31,20,2022-12-31 23:00:00+00:00
2,0.000000,0.000000,0.000000,2022-12-31 21:00:00,12,31,21,2023-01-01 00:00:00+00:00
3,0.000000,0.000000,0.000000,2022-12-31 22:00:00,12,31,22,2023-01-01 01:00:00+00:00
4,0.000000,0.000000,0.000000,2022-12-31 23:00:00,12,31,23,2023-01-01 02:00:00+00:00
5,0.000000,0.000000,0.000000,2023-01-01 00:00:00,01,01,00,2023-01-01 03:00:00+00:00
6,0.000000,0.000000,0.000000,2023-01-01 01:00:00,01,01,01,2023-01-01 04:00:00+00:00
7,0.000000,0.000000,0.000000,2023-01-01 02:00:00,01,01,02,2023-01-01 05:00:00+00:00
8,0.000000,0.000000,0.000000,2023-01-01 03:00:00,01,01,03,2023-01-01 06:00:00+00:00
9,0.000000,0.000000,0.000000,2023-01-01 04:00:00,01,01,04,2023-01-01 07:00:00+00:00
10,4.722051,106.795972,0.046354,2023-01-01 05:00:00,01,01,05,2023-01-01 08:00:00+00:00
11,7.159532,164.174466,0.082461,2023-01-01 06:00:00,01,01,06,2023-01-01 09:00:00+00:00
12,6.711995,151.731531,0.076372,2023-01-01 07:00:00,01,01,07,2023-01-01 10:00:00+00:00
13,7.257134,165.572239,0.083125,2023-01-01 08:00:00,01,01,08,2023-01-01 11:00:00+00:00
14,8.141646,190.600834,0.095293,2023-01-01 09:00:00,01,01,09,2023-01-01 12:00:00+00:00
15,7.766050,186.893688,0.093605,2023-01-01 10:00:00,01,01,10,2023-01-01 13:00:00+00:00
16,9.031290,225.894178,0.112464,2023-01-01 11:00:00,01,01,11,2023-01-01 14:00:00+00:00
17,13.768095,355.781304,0.173153,2023-01-01 12:00:00,01,01,12,2023-01-01 15:00:00+00:00
18,22.011805,572.734895,0.267600,2023-01-01 13:00:00,01,01,13,2023-01-01 16:00:00+00:00
19,28.947440,754.925807,0.340370,2023-01-01 14:00:00,01,01,14,2023-01-01 17:00:00+00:00
20,33.708451,888.819226,0.390752,2023-01-01 15:00:00,01,01,15,2023-01-01 18:00:00+00:00
21,34.560508,934.126543,0.408792,2023-01-01 16:00:00,01,01,16,2023-01-01 19:00:00+00:00
22,29.619714,823.646815,0.370047,2023-01-01 17:00:00,01,01,17,2023-01-01 20:00:00+00:00
23,15.628637,436.186396,0.210370,2023-01-01 18:00:00,01,01,18,2023-01-01 21:00:00+00:00
24,0.000000,0.000000,0.000000,2023-01-01 19:00:00,01,01,19,2023-01-01 22:00:00+00:00
25,0.000000,0.000000,0.000000,2023-01-01 20:00:00,01,01,20,2023-01-01 23:00:00+00:00
26,0.000000,0.000000,0.000000,2023-01-01 21:00:00,01,01,21,2023-01-02 00:00:00+00:00
27,0.000000,0.000000,0.000000,2023-01-01 22:00:00,01,01,22,2023-01-02 01:00:00+00:00
28,0.000000,0.000000,0.000000,2023-01-01 23:00:00,01,01,23,2023-01-02 02:00:00+00:00
29,0.000000,0.000000,0.000000,2023-01-02 00:00:00,01,02,00,2023-01-02 03:00:00+00:00
30,0.000000,0.000000,0.000000,2023-01-02 01:00:00,01,02,01,2023-01-02 04:00:00+00:00
31,0.000000,0.000000,0.000000,2023-01-02 02:00:00,01,02,02,2023-01-02 05:00:00+00:00
32,0.000000,0.000000,0.000000,2023-01-02 03:00:00,01,02,03,2023-01-02 06:00:00+00:00
33,0.000000,0.000000,0.000000,2023-01-02 04:00:00,01,02,04,2023-01-02 07:00:00+00:00
34,4.470621,110.138832,0.049359,2023-01-02 05:00:00,01,02,05,2023-01-02 08:00:00+00:00
35,6.628164,165.710149,0.083440,2023-01-02 06:00:00,01,02,06,2023-01-02 09:00:00+00:00
36,9.245213,230.608604,0.114695,2023-01-02 07:00:00,01,02,07,2023-01-02 10:00:00+00:00
37,8.322984,206.463889,0.103136,2023-01-02 08:00:00,01,02,08,2023-01-02 11:00:00+00:00
38,7.511209,185.813805,0.093176,2023-01-02 09:00:00,01,02,09,2023-01-02 12:00:00+00:00
39,10.208579,255.458300,0.126473,2023-01-02 10:00:00,01,02,10,2023-01-02 13:00:00+00:00
40,9.793649,250.995895,0.124510,2023-01-02 11:00:00,01,02,11,2023-01-02 14:00:00+00:00
41,14.516890,383.306057,0.185872,2023-01-02 12:00:00,01,02,12,2023-01-02 15:00:00+00:00
42,21.969878,589.479271,0.275481,2023-01-02 13:00:00,01,02,13,2023-01-02 16:00:00+00:00
43,29.325081,788.633838,0.354865,2023-01-02 14:00:00,01,02,14,2023-01-02 17:00:00+00:00
44,34.360208,927.011803,0.406117,2023-01-02 15:00:00,01,02,15,2023-01-02 18:00:00+00:00
45,35.753566,971.701920,0.422500,2023-01-02 16:00:00,01,02,16,2023-01-02 19:00:00+00:00
46,32.628244,900.682447,0.398263,2023-01-02 17:00:00,01,02,17,2023-01-02 20:00:00+00:00
47,17.851515,501.888489,0.239425,2023-01-02 18:00:00,01,02,18,2023-01-02 21:00:00+00:00