In [1]:
from docxtpl import * 
from typing import Dict

# Site references

In [2]:
#cspell:disable


#init proyect
from models.components import Tech
from models.geometry import GeoPosition
from models.inventory import Building, Project

project:Project = Project(
    building = Building(
        geolocation=GeoPosition(latitude=-33,longitude=-70),
        name='Cesfam Pimpim',
        address='calle falsa 123',
        city='Valpara√≠so'),
    technology= [Tech.PHOTOVOLTAIC]
    )

api request URL https://power.larc.nasa.gov/api/temporal/hourly/point?Time=LST&parameters=T2M,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,ALLSKY_SRF_ALB,SZA,WS10M&community=RE&latitude=-33&longitude=-70&start=20230101&end=20230102&format=JSON

In [3]:
project.weather.get_data().head(24)

,date,T2M,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,ALLSKY_SRF_ALB,SZA,WS10M,year,month,day,hour
0,2022-12-31 19:00:00,-1.68,0.00,0.00,None,None,2.85,2022,12,31,19
1,2022-12-31 20:00:00,-2.20,0.00,0.00,None,None,2.20,2022,12,31,20
2,2022-12-31 21:00:00,-3.08,0.00,0.00,None,None,1.51,2022,12,31,21
3,2022-12-31 22:00:00,-3.68,0.00,0.00,None,None,1.10,2022,12,31,22
4,2022-12-31 23:00:00,-4.41,0.00,0.00,None,None,0.89,2022,12,31,23
5,2023-01-01 00:00:00,-5.18,0.00,0.00,None,None,0.79,2023,01,01,00
6,2023-01-01 01:00:00,-5.68,0.00,0.00,None,None,0.93,2023,01,01,01
7,2023-01-01 02:00:00,-5.98,0.00,0.00,None,None,1.22,2023,01,01,02
8,2023-01-01 03:00:00,-6.13,0.00,0.00,None,None,1.29,2023,01,01,03
9,2023-01-01 04:00:00,-6.13,75.61,7.42,0.12,89.28,1.10,2023,01,01,04
10,2023-01-01 05:00:00,-3.86,525.43,51.63,0.18,80.13,1.74,2023,01,01,05
11,2023-01-01 06:00:00,-0.02,698.75,98.14,0.12,68.12,3.52,2023,01,01,06
12,2023-01-01 07:00:00,3.77,754.67,150.46,0.12,55.73,4.86,2023,01,01,07
13,2023-01-01 08:00:00,6.26,762.09,186.41,0.13,43.18,5.86,2023,01,01,08
14,2023-01-01 09:00:00,8.07,896.55,140.08,0.13,30.68,6.70,2023,01,01,09
15,2023-01-01 10:00:00,9.01,800.48,241.57,0.14,18.8,7.62,2023,01,01,10
16,2023-01-01 11:00:00,9.11,773.45,274.89,0.15,10.57,8.27,2023,01,01,11
17,2023-01-01 12:00:00,8.63,797.73,246.73,0.14,14.81,8.30,2023,01,01,12
18,2023-01-01 13:00:00,7.98,879.78,121.90,0.14,25.98,7.96,2023,01,01,13
19,2023-01-01 14:00:00,7.05,769.62,208.73,0.13,38.36,7.60,2023,01,01,14
20,2023-01-01 15:00:00,5.80,780.64,131.58,0.12,50.93,7.02,2023,01,01,15
21,2023-01-01 16:00:00,4.26,718.84,106.22,0.12,63.41,6.02,2023,01,01,16
22,2023-01-01 17:00:00,2.34,682.40,53.65,0.17,75.59,4.51,2023,01,01,17
23,2023-01-01 18:00:00,-0.01,247.59,21.20,0.16,86.9,2.38,2023,01,01,18

In [7]:

from models.components import Component
from models.econometrics import Cost
from models.photovoltaic import Photovoltaic

#assembly projects components
project.components = {
    'generation':[Photovoltaic(weather=project.weather,power=250,quantity=120)],
    'auxiliary':[Component(description='Inversi√≥n')],
    'labor':[Component(description='Instalaci√≥n',cost=Cost(500_000))]
}