In [1]:
from docxtpl import * 
from typing import Dict


from models.econometrics import Cost, Currency

import math
from typing import Callable
from models.components import Component
from models.econometrics import Cost
from models.geometry import Orientation
from models.photovoltaic import Photovoltaic

#%pip install dotenv

# Building references

## Currencies values

In [2]:
import requests
import json
#currency values


#reference 1 is USD
Cost.set_exchange(Currency.CLP,908.72)
Cost.set_exchange(Currency.EUR,0.92)

cost_inverter = Cost(1000,Currency.EUR)
cost_inverter.cost_after_tax(Currency.CLP)

# exchange rates https://app.freecurrencyapi.com/dashboard

query:requests.Response = requests.get('https://api.freecurrencyapi.com/v1/latest?apikey=fca_live_hI70p59KaCHrxAKg4gSZR4kp8F2XmRddw6NBrwxY',timeout=1000)
currency_ratios = json.loads(query.text)
Cost.set_exchange(Currency.EUR,currency_ratios['data']['EUR'])

## Address and general info

In [3]:
#cspell:disable


#init proyect
from models.components import Tech
from models.geometry import GeoPosition
from models.inventory import Building, Project

psr_bucalemu:Project = Project(
    title='Sistema Fotovoltaico OnGrid-Mixto PSR Bucalemu,\nSanto Domingo',
    building = Building(
        geolocation=GeoPosition(latitude=-33.861702,longitude=-71.657839),
        name='Posta de Salud Rural Bucalemu',
        address='Ruta G-80-I km 30 sn, Localidad Bucalemu,\nSanto Domingo',
        city='Santo Domingo'),
    technology= [Tech.PHOTOVOLTAIC]
    )

# psr_sanenrique:Project = Project(
#     title='Sistema Fotovoltaico OnGrid-Mixto PSR San Enrique, Santo Domingo',
#     building = Building(
#         geolocation=GeoPosition(latitude=-33.9081421,longitude=-71.7159192),
#         name='Posta de Salud Rural de San Enrique',
#         address='Ruta G-866 km 0 sn, Localidad San Enrique, Santo Domingo',
#         city='Santo Domingo'),
#     technology= [Tech.PHOTOVOLTAIC]
#     )

api request URL https://power.larc.nasa.gov/api/temporal/hourly/point?Time=LST&parameters=T2M,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,ALLSKY_SRF_ALB,SZA,WS10M&community=RE&latitude=-33.861702&longitude=-71.657839&start=20230101&end=20230102&format=JSON

In [4]:
psr_bucalemu.weather.get_data().head(24)

,date,T2M,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,ALLSKY_SRF_ALB,SZA,WS10M,year,month,day,hour
0,2022-12-31 19:00:00,15.99,0.00,0.00,None,None,1.61,2022,12,31,19
1,2022-12-31 20:00:00,15.62,0.00,0.00,None,None,1.69,2022,12,31,20
2,2022-12-31 21:00:00,15.29,0.00,0.00,None,None,1.91,2022,12,31,21
3,2022-12-31 22:00:00,14.89,0.00,0.00,None,None,2.08,2022,12,31,22
4,2022-12-31 23:00:00,14.46,0.00,0.00,None,None,2.37,2022,12,31,23
5,2023-01-01 00:00:00,14.20,0.00,0.00,None,None,2.73,2023,01,01,00
6,2023-01-01 01:00:00,13.96,0.00,0.00,None,None,2.96,2023,01,01,01
7,2023-01-01 02:00:00,13.66,0.00,0.00,None,None,2.99,2023,01,01,02
8,2023-01-01 03:00:00,13.34,0.00,0.00,None,None,3.09,2023,01,01,03
9,2023-01-01 04:00:00,13.16,0.00,0.00,None,None,3.15,2023,01,01,04
10,2023-01-01 05:00:00,14.49,400.55,52.57,0.14,80.92,3.43,2023,01,01,05
11,2023-01-01 06:00:00,16.17,778.00,65.88,0.13,69.48,3.73,2023,01,01,06
12,2023-01-01 07:00:00,17.92,913.46,72.15,0.09,57.27,3.42,2023,01,01,07
13,2023-01-01 08:00:00,19.37,961.80,81.88,0.09,44.85,3.62,2023,01,01,08
14,2023-01-01 09:00:00,20.67,1021.87,71.28,0.12,32.48,4.18,2023,01,01,09
15,2023-01-01 10:00:00,21.73,1004.83,89.65,0.1,20.71,4.78,2023,01,01,10
16,2023-01-01 11:00:00,22.16,974.21,106.16,0.12,11.98,5.62,2023,01,01,11
17,2023-01-01 12:00:00,22.22,996.59,95.59,0.1,14.28,6.33,2023,01,01,12
18,2023-01-01 13:00:00,22.16,950.38,101.99,0.12,24.68,6.48,2023,01,01,13
19,2023-01-01 14:00:00,22.09,997.76,81.21,0.1,36.77,6.53,2023,01,01,14
20,2023-01-01 15:00:00,21.77,950.80,80.91,0.11,49.2,6.77,2023,01,01,15
21,2023-01-01 16:00:00,21.14,876.07,73.12,0.12,61.57,7.31,2023,01,01,16
22,2023-01-01 17:00:00,19.99,723.91,56.34,0.12,73.69,7.93,2023,01,01,17
23,2023-01-01 18:00:00,18.20,373.73,26.00,0.13,85.3,8.01,2023,01,01,18

# Integration

## Energy Consumptions

In [5]:
from models.consumption import Energetic
psr_bucalemu.add_consumption(energetic=Energetic.ELI,bills=[])

## Machine Components

In [6]:
#cspell: disable

#PV COST MODEL, inscludes price clp per watt, including cost of planel, inverter, instalation and infraestructure.
pv_log_model_on_grid:Callable[[float],float] = lambda size_w: math.floor(-152.6*math.log(size_w)+2605.9) # clp/w
pv_log_model_off_grid:Callable[[float],float] = lambda size_w: math.floor(-414.7*math.log(size_w)+6143.9) # clp/w
#PV linear COST MODEL, inscludes price clp per watt,just panel.
pv_linear:Callable[[float],float] = lambda size_w: 245990/655

#clean previous load
psr_bucalemu.components = {}
from IPython.display import clear_output
clear_output(wait=True)

# assembly projects components
psr_bucalemu.add_component(
    'generaci贸n',
    Photovoltaic(psr_bucalemu.weather,'M贸dulo Primario A',
                reference='https://www.tiendatecnored.cl/modulo-fotovoltaico-650w-canadian-solar.html',
                power=655,
                quantity=5,
                cost=None,
                cost_model=pv_linear,
                orientation=Orientation(15,270-16.46)),
    Photovoltaic(psr_bucalemu.weather,'M贸dulo Secundario B',
                reference='https://www.tiendatecnored.cl/modulo-fotovoltaico-650w-canadian-solar.html',
                power=655,
                quantity=5,
                cost=None,
                cost_model=pv_linear,
                orientation=Orientation(15,16.46))
    )
psr_bucalemu.add_component(
    'auxiliar',
    Component('inversor de 7kW',
                model='Voltronic 7kW 48V',
                reference='https://solarbex.com/comprar/inversor-hibrido-7kw-48v-voltronic/',
                specification='H铆brido 7kW Monof谩sico',
                cost_per_unit=Cost(1255,Currency.EUR)),
    Component('Controlador de Carga',
                model='Enertik 80A 12/24V',
                specification='1000W to 2000 24V output',
                cost_per_unit=Cost(101600,Currency.CLP)),
    Component('medidor bidireccional',
                model='Elster AS1440',
                specification='Trifasico',
                cost_per_unit=Cost(306990,Currency.CLP)),
    Component('almacenamiento',
                model='MP NP12-200',
                specification='Beter铆a 12V 200Ah',
                reference='https://www.tiendatecnored.cl/bateria-gel-ciclo-profundo-12v-200ah.html',
                cost_per_unit=Cost(204889,Currency.CLP),
                quantity=10,
                )
    )
psr_bucalemu.add_component(
    'obras',
    Component(description='instalaci贸n el茅ctrica',
            specification='H/P el茅ctrico',
            cost_per_unit=Cost(1,currency=Currency.UF),
            quantity=100,
            ),
    Component(description='estructura de soporte',
            specification='elementos fijaci贸n',
            cost_per_unit=Cost((4*800+11400/4+4*700+4000+500)),
            quantity=24
            )
)

inside cost pv :  245990.0 Currency.CLP
inside cost pv :  245990.0 Currency.CLP

In [7]:
# psr_bucalemu.components['generaci贸n'][1].nominal_power()
#pv_log_model(1500) #clp/w

bucket_list = psr_bucalemu.bucket_list(Currency.CLP)
    
#unitary price comparison
print(
    'estimado',bucket_list['cost'],
    'on grid',pv_log_model_on_grid(655*10)*655*10,
    'off grid',pv_log_model_off_grid(655*10)*655*10,
    'linear',pv_linear(655*10)*655*10)
bucket_list

estimado 10969653.0 on grid 8279200 off grid 16368450 linear 2459900.0

{'cost': 10969653.0,
 'bucket': [{'gloss': 'generaci贸n',
   'description': 'M贸dulo Primario A',
   'quantity': 5,
   'cost_after_tax': 1463640.5,
   'currency': 'peso chileno'},
  {'gloss': 'generaci贸n',
   'description': 'M贸dulo Secundario B',
   'quantity': 5,
   'cost_after_tax': 1463640.5,
   'currency': 'peso chileno'},
  {'gloss': 'auxiliar',
   'description': 'inversor de 7kW',
   'quantity': 1,
   'cost_after_tax': 1241604.9,
   'currency': 'peso chileno'},
  {'gloss': 'auxiliar',
   'description': 'Controlador de Carga',
   'quantity': 1,
   'cost_after_tax': 120904.0,
   'currency': 'peso chileno'},
  {'gloss': 'auxiliar',
   'description': 'medidor bidireccional',
   'quantity': 1,
   'cost_after_tax': 365318.1,
   'currency': 'peso chileno'},
  {'gloss': 'auxiliar',
   'description': 'almacenamiento',
   'quantity': 10,
   'cost_after_tax': 2438179.0,
   'currency': 'peso chileno'},
  {'gloss': 'obras',
   'description': 'instalaci贸n el茅ctrica',
   'quantity': 100,
   'cost_after_tax': 3495090.0,
   'currency': 'peso chileno'},
  {'gloss': 'obras',
   'description': 'estructura de soporte',
   'quantity': 24,
   'cost_after_tax': 381276.0,
   'currency': 'peso chileno'}]}

In [8]:
# psr_bucalemu.get_energy_generation('generaci贸n')
psr_bucalemu.components['generaci贸n'][0].get_energy()
psr_bucalemu.get_energy('generaci贸n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cos_phi              48 non-null     float64
 1   IRR_direct_surface   48 non-null     float64
 2   IRR_diffuse_surface  48 non-null     float64
 3   IRR_ground           48 non-null     float64
 4   IRR_incident         48 non-null     float64
dtypes: float64(5)
memory usage: 2.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Temperature_cell  48 non-null     float64
 1   IRR_incident      48 non-null     float64
dtypes: float64(2)
memory usage: 900.0 bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Temperature_cell    48 non-null     float64
 1   IRR_incident        48 non-null     float64
 2   System_capacity_KW  48 non-null     float64
 3   date UTC            48 non-null     datetime64[ns]
 4   month               48 non-null     object
 5   day                 48 non-null     object
 6   hour                48 non-null     object
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 2.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cos_phi              48 non-null     float64
 1   IRR_direct_surface   48 non-null     float64
 2   IRR_diffuse_surface  48 non-null     float64
 3   IRR_ground           48 non-null     float64
 4   IRR_incident         48 non-null     float64
dtypes: float64(5)
memory usage: 2.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Temperature_cell  48 non-null     float64
 1   IRR_incident      48 non-null     float64
dtypes: float64(2)
memory usage: 900.0 bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Temperature_cell    48 non-null     float64
 1   IRR_incident        48 non-null     float64
 2   System_capacity_KW  48 non-null     float64
 3   date UTC            48 non-null     datetime64[ns]
 4   month               48 non-null     object
 5   day                 48 non-null     object
 6   hour                48 non-null     object
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 2.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cos_phi              48 non-null     float64
 1   IRR_direct_surface   48 non-null     float64
 2   IRR_diffuse_surface  48 non-null     float64
 3   IRR_ground           48 non-null     float64
 4   IRR_incident         48 non-null     float64
dtypes: float64(5)
memory usage: 2.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Temperature_cell  48 non-null     float64
 1   IRR_incident      48 non-null     float64
dtypes: float64(2)
memory usage: 900.0 bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Temperature_cell    48 non-null     float64
 1   IRR_incident        48 non-null     float64
 2   System_capacity_KW  48 non-null     float64
 3   date UTC            48 non-null     datetime64[ns]
 4   month               48 non-null     object
 5   day                 48 non-null     object
 6   hour                48 non-null     object
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 2.8+ KB
None

,Temperature_cell,IRR_incident,System_capacity_KW,date UTC,month,day,hour
0,0.000000,0.000000,0.000000,2022-12-31 19:00:00,12,31,19
1,0.000000,0.000000,0.000000,2022-12-31 20:00:00,12,31,20
2,0.000000,0.000000,0.000000,2022-12-31 21:00:00,12,31,21
3,0.000000,0.000000,0.000000,2022-12-31 22:00:00,12,31,22
4,0.000000,0.000000,0.000000,2022-12-31 23:00:00,12,31,23
5,0.000000,0.000000,0.000000,2023-01-01 00:00:00,01,01,00
6,0.000000,0.000000,0.000000,2023-01-01 01:00:00,01,01,01
7,0.000000,0.000000,0.000000,2023-01-01 02:00:00,01,01,02
8,0.000000,0.000000,0.000000,2023-01-01 03:00:00,01,01,03
9,0.000000,0.000000,0.000000,2023-01-01 04:00:00,01,01,04
10,4.722051,106.795972,0.092708,2023-01-01 05:00:00,01,01,05
11,7.159532,164.174466,0.164923,2023-01-01 06:00:00,01,01,06
12,6.711995,151.731531,0.152743,2023-01-01 07:00:00,01,01,07
13,7.257134,165.572239,0.166250,2023-01-01 08:00:00,01,01,08
14,8.141646,190.600834,0.190586,2023-01-01 09:00:00,01,01,09
15,7.772429,187.047184,0.187358,2023-01-01 10:00:00,01,01,10
16,12.264421,306.762527,0.299536,2023-01-01 11:00:00,01,01,11
17,18.703008,483.304385,0.456207,2023-01-01 12:00:00,01,01,12
18,26.742414,695.822711,0.631937,2023-01-01 13:00:00,01,01,13
19,33.362462,870.066007,0.764036,2023-01-01 14:00:00,01,01,14
20,37.033258,976.487216,0.841889,2023-01-01 15:00:00,01,01,15
21,36.552209,987.959697,0.854909,2023-01-01 16:00:00,01,01,16
22,30.250808,841.195887,0.753305,2023-01-01 17:00:00,01,01,17
23,15.389508,429.512429,0.414779,2023-01-01 18:00:00,01,01,18
24,0.000000,0.000000,0.000000,2023-01-01 19:00:00,01,01,19
25,0.000000,0.000000,0.000000,2023-01-01 20:00:00,01,01,20
26,0.000000,0.000000,0.000000,2023-01-01 21:00:00,01,01,21
27,0.000000,0.000000,0.000000,2023-01-01 22:00:00,01,01,22
28,0.000000,0.000000,0.000000,2023-01-01 23:00:00,01,01,23
29,0.000000,0.000000,0.000000,2023-01-02 00:00:00,01,02,00
30,0.000000,0.000000,0.000000,2023-01-02 01:00:00,01,02,01
31,0.000000,0.000000,0.000000,2023-01-02 02:00:00,01,02,02
32,0.000000,0.000000,0.000000,2023-01-02 03:00:00,01,02,03
33,0.000000,0.000000,0.000000,2023-01-02 04:00:00,01,02,04
34,4.470621,110.138832,0.098718,2023-01-02 05:00:00,01,02,05
35,6.628164,165.710149,0.166881,2023-01-02 06:00:00,01,02,06
36,9.245213,230.608604,0.229389,2023-01-02 07:00:00,01,02,07
37,8.322984,206.463889,0.206271,2023-01-02 08:00:00,01,02,08
38,7.511209,185.813805,0.186352,2023-01-02 09:00:00,01,02,09
39,10.211229,255.524610,0.253009,2023-01-02 10:00:00,01,02,10
40,12.845888,329.219996,0.320758,2023-01-02 11:00:00,01,02,11
41,19.280017,509.072376,0.479445,2023-01-02 12:00:00,01,02,12
42,26.998554,724.404941,0.656678,2023-01-02 13:00:00,01,02,13
43,33.866613,910.768398,0.797505,2023-01-02 14:00:00,01,02,14
44,37.739648,1018.186475,0.874426,2023-01-02 15:00:00,01,02,15
45,37.843088,1028.490469,0.883682,2023-01-02 16:00:00,01,02,16
46,33.336208,920.225348,0.810669,2023-01-02 17:00:00,01,02,17
47,17.586676,494.442658,0.472355,2023-01-02 18:00:00,01,02,18