In [1]:
from docxtpl import * 
from typing import Dict

# Site references

In [2]:
#cspell:disable
from models.components import Tech
from models.geometry import GeoPosition
from models.inventory import Building, Project
from models.econometrics import Cost


project:Project = Project(
    building = Building(
        geolocation=GeoPosition(latitude=-33,longitude=-70),
        name='Cesfam Pimpim',
        address='calle falsa 123',
        city='Valpara√≠so'),
    technology= [Tech.PHOTOVOLTAIC]
    )

api request URL https://power.larc.nasa.gov/api/temporal/hourly/point?Time=LST&parameters=T2M,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,ALLSKY_SRF_ALB,SZA,WS10M&community=RE&latitude=-33&longitude=-70&start=20230101&end=20230102&format=JSON

In [3]:
project.weather.get_data().sample(10)

,date,T2M,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,ALLSKY_SRF_ALB,SZA,WS10M,year,month,day,hour
35,2023-01-02 06:00:00,2.95,777.72,99.09,0.13,68.25,2.69,2023,01,02,06
14,2023-01-01 09:00:00,8.07,896.55,140.08,0.13,30.68,6.70,2023,01,01,09
47,2023-01-02 18:00:00,0.76,322.54,19.21,0.17,86.87,2.59,2023,01,02,18
10,2023-01-01 05:00:00,-3.86,525.43,51.63,0.18,80.13,1.74,2023,01,01,05
30,2023-01-02 01:00:00,-3.07,0.00,0.00,None,None,1.29,2023,01,02,01
27,2023-01-01 22:00:00,-3.18,0.00,0.00,None,None,1.40,2023,01,01,22
23,2023-01-01 18:00:00,-0.01,247.59,21.20,0.16,86.9,2.38,2023,01,01,18
38,2023-01-02 09:00:00,9.65,986.81,125.95,0.13,30.81,6.42,2023,01,02,09
4,2022-12-31 23:00:00,-4.41,0.00,0.00,None,None,0.89,2022,12,31,23
22,2023-01-01 17:00:00,2.34,682.40,53.65,0.17,75.59,4.51,2023,01,01,17