In [3]:
from docxtpl import * 
from typing import Dict

# Site references

In [4]:
#cspell:disable
from models.components import Tech
from models.geometry import GeoPosition
from models.inventory import Building, Project
from models.econometrics import Cost


project:Project = Project(
    building = Building(
        geolocation=GeoPosition(latitude=-33,longitude=-70),
        name='Cesfam Pimpim',
        address='calle falsa 123',
        city='Valpara√≠so'),
    technology= [Tech.PHOTOVOLTAIC]
    )

api request URL https://power.larc.nasa.gov/api/temporal/hourly/point?Time=LST&parameters=T2M,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,ALLSKY_SRF_ALB,SZA,WS10M&community=RE&latitude=-33&longitude=-70&start=20220101&end=20220102&format=JSON

In [9]:
project.weather.get_data().head(10)

,date,T2M,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,ALLSKY_SRF_ALB,SZA,WS10M,year,month,day,hour
0,2021-12-31 19:00:00,0.55,0.00,0.00,None,None,0.49,2021,12,31,19
1,2021-12-31 20:00:00,-0.25,0.00,0.00,None,None,0.59,2021,12,31,20
2,2021-12-31 21:00:00,0.01,0.00,0.00,None,None,0.95,2021,12,31,21
3,2021-12-31 22:00:00,0.24,0.00,0.00,None,None,1.31,2021,12,31,22
4,2021-12-31 23:00:00,0.21,0.00,0.00,None,None,1.43,2021,12,31,23
5,2022-01-01 00:00:00,-0.07,0.00,0.00,None,None,1.47,2022,01,01,00
6,2022-01-01 01:00:00,-0.27,0.00,0.00,None,None,1.46,2022,01,01,01
7,2022-01-01 02:00:00,-0.50,0.00,0.00,None,None,1.36,2022,01,01,02
8,2022-01-01 03:00:00,-0.88,0.00,0.00,None,None,1.35,2022,01,01,03
9,2022-01-01 04:00:00,-1.34,268.66,6.77,0.13,89.3,1.47,2022,01,01,04